apiVersion: v1
kind: Secret
type: Opaque             
metadata:
    name: vault-user-creds
    namespace: vault   
data:
    VAULT_ROOT_TOKEN: "{{ vault_token | b64encode }}"
    CA_USER_TOKEN: "{{ ca_user_token | b64encode }}"
    VAULT_KVS_USER: "{{ vault_kvs_user | b64encode }}"
    VAULT_KVS_USER_TOKEN: "{{ vault_kvs_user_token | b64encode }}"