---
apiVersion: v1
kind: Pod
metadata:
  name: vault-user-script
  namespace: vault
spec:
  containers:
  - name: config-user-script
    image: "{{ registry }}/openidl-baf"
    env:
    - name: VAULT_CONFIG_USER
      valueFrom:
        secretKeyRef:
          name: vault-user-creds
          key: VAULT_CONFIG_USER
    - name: VAULT_ROOT_TOKEN
      valueFrom:
        secretKeyRef:
          name: vault-user-creds
          key: VAULT_ROOT_TOKEN
    - name: VAULT_CONFIG_USER_TOKEN
      valueFrom:
        secretKeyRef:
          name: vault-user-creds
          key: VAULT_CONFIG_USER_TOKEN
    - name: VAULT_KVS_USER
      valueFrom:
        secretKeyRef:
          name: vault-user-creds
          key: VAULT_KVS_USER
    - name: VAULT_KVS_USER_TOKEN
      valueFrom:
        secretKeyRef:
          name: vault-user-creds
          key: VAULT_KVS_USER_TOKEN
    - name: ORG_NAME
      value: "{{ network.org_name }}"
    - name: VAULT_URL
      value: "http://vault.{{ env }}.{{ internal_domain }}"
    command: ["sh", "-c"]
    args: 
    - |-
      #!/bin/bash -e
      cd /home/config
      ./add-vault-user.sh -V ${VAULT_URL} \
        -t ${VAULT_ROOT_TOKEN} \
        -U ${VAULT_CONFIG_USER} \
        -P ${VAULT_CONFIG_USER_TOKEN} \
        -a config-${ORG_NAME} \
        -o config \
        -e '"create","update","read","list"'
      ./add-vault-user.sh -V ${VAULT_URL} \
        -t ${VAULT_ROOT_TOKEN} \
        -U ${VAULT_KVS_USER} \
        -P ${VAULT_KVS_USER_TOKEN} \
        -a kvs-${ORG_NAME} \
        -o kvs \
        -e '"create","update","read","list"'
    volumeMounts:
    - name: vault-user-script
      mountPath: "/home/config/"
      readOnly: true
  volumes:
  - name: vault-user-script
    configMap:
      name: add-vault-user-script
      defaultMode: 0777
  restartPolicy: Never